$--background--transparent-black: rgba(0, 0, 0, 0.6);
$--background--transparent-black1: rgba(0, 0, 0, 0.8);

.slides-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide-arrow {
  background-color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 3rem;
  margin: auto;
  color: #ffffff;
  border: none;
  font-size: 2rem;
  opacity: 0.9;
  transition: opacity 0.1s;
  &:hover,
  :focus {
    opacity: 0.7;
  }
}
.prev-arrow {
  position: relative;
  left: 0;
  z-index: 10;
}
.next-arrow {
  position: relative;
  right: 0;
  z-index: 10;
}
