.story-index {
  &--box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--list {
    display: flex;
    flex-direction: row-reverse;
  }
  &--title {
    color: white;
    font-size: 14px;
    margin-right: 8px;
  }
}

.story-index {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 2px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.index {
  &-on {
    background-color: white;
    color: black;
  }
  &-off {
    background-color: transparent;
    color: white;
  }
}
