@import "./book.scss";
@import "./headslider.scss";
@import "./pageindex.scss";

body {
  background-image: url("./1474677.jpg");
}
.App {
  display: block;
  // flex-direction: column;
  // align-items: center;
  // padding-bottom: 10px;
}
.blog-title--mini {
  font-size: 10px;
}
