@import "./storyBox.scss";
@import "./tagBox.scss";
@import "./headerSlider.scss";

$--background--transparent-black: rgba(0, 0, 0, 0.6);
$--background--transparent-black1: rgba(0, 0, 0, 0.8);
$--background--transparent-gray--hover: rgba(174, 174, 174, 0.5);

body {
  background-image: url("./1474677.jpg");
}
.App {
  display: block;
  // flex-direction: column;
  // align-items: center;
  // padding-bottom: 10px;
}
.blog-title--mini {
  font-size: 10px;
}
